body{
    font-size: 0;
}

.heder{
    border: 4px solid #000;
    height: 100px;
}

.vertical {
    border: 4px solid #000; 
    height: 100px;
    flex-grow: 1;
   
}
.main{
    display: flex;
    justify-content:  space-around;
    border: 2px solid red;
    height: 500px;
}

.verticalleft {
    flex-grow: 2;
    height: 500px;
}

.verticalrihgt {
    display: flex;
    flex-grow: 6;
    height: 500px;
    flex-direction: column ;
}
.central .centralrihgt {
    border: 2px solid black;
   
}
.centralrihgt {
    flex-grow: 1;
    }

.central {
    flex-grow: 2;
}

.top {
    flex-grow: 1;  
}
.bottom {
    display: flex;
    flex-grow: 2;
}
.top, .bottom {
    border: 2px solid black;
}

